@import "../../mainPage/scss/mainPage";
@import "../../header/scss/header";
@import "../../footer/scss/footer";
@import "../../homePage/scss/homePage";
@import "../../table/scss/table";
@import "../../forms/scss/form";

.room_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  h6 {
    text-align: center;
    padding: 2rem 0;
    font-family: 'Russo One', sans-serif;
    font-size: 2rem;
  }

  h6 + div button {
    margin-bottom: 1rem;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    input {
      margin: 0.5rem 0;
      border-radius: 0.2rem;
      border: 1px solid green;
    }
  }
}