.App > div {

  header {
    background-color: darkseagreen;
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &.css-jzk4qw-MuiPaper-root-MuiAppBar-root {
      align-items: flex-end;
    }
  }
  .rooms_links {
    a {
      text-decoration: none;
      color: black;
    }
  }
  main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,121,37,1) 0%, rgba(11,111,19,1) 0%, rgba(255,255,255,1) 100%);
  }
}