table {
  thead {
    th:first-child {
      width: 10%;
    }
    th:nth-child(2),
    th:last-child {
      width: 45%;
    }
  }
  .items_section {
    display: flex;
    gap: 7rem;
    @media(min-width: 361px) {
      justify-content: space-between;
    }
  }
}